@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 24px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

li a {
  color: #404040;
  text-decoration-line: none;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background-color: #eeeeee;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* The other part where I deviate from the solution is the method used to
   center the content in the middle of the screen. */
/* I use justify-content: space-between; to put the content in the middle and
   then an align-self: center;*/
/* They use a flex-grow: 1; on the content and an justify-content: center; to
   force it into the center. */
